DROP POLICY IF EXISTS "establishment members can read classes" ON public.classes; DROP POLICY IF EXISTS "establishment managers can insert classes" ON public.classes; DROP POLICY IF EXISTS "establishment managers can update classes" ON public.classes; DROP POLICY IF EXISTS "establishment managers can delete classes" ON public.classes; CREATE POLICY "owners and members can read classes" ON public.classes FOR SELECT TO authenticated USING (public.is_establishment_member(establishment_id) OR EXISTS (SELECT 1 FROM public.establishments e WHERE e.id = establishment_id AND public.is_company_owner(e.company_id))); CREATE POLICY "owners and managers can insert classes" ON public.classes FOR INSERT TO authenticated WITH CHECK (public.is_establishment_manager(establishment_id) OR EXISTS (SELECT 1 FROM public.establishments e WHERE e.id = establishment_id AND public.is_company_owner(e.company_id))); CREATE POLICY "owners and managers can update classes" ON public.classes FOR UPDATE TO authenticated USING (public.is_establishment_manager(establishment_id) OR EXISTS (SELECT 1 FROM public.establishments e WHERE e.id = establishment_id AND public.is_company_owner(e.company_id))) WITH CHECK (public.is_establishment_manager(establishment_id) OR EXISTS (SELECT 1 FROM public.establishments e WHERE e.id = establishment_id AND public.is_company_owner(e.company_id))); CREATE POLICY "owners and managers can delete classes" ON public.classes FOR DELETE TO authenticated USING (public.is_establishment_manager(establishment_id) OR EXISTS (SELECT 1 FROM public.establishments e WHERE e.id = establishment_id AND public.is_company_owner(e.company_id)));
